<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjeap0mC3vJjSp8ivWG1l5QTv5V3hMZlk</string>
	<key>GCM_SENDER_ID</key>
	<string>182753575099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sako.MatchingWordsAndPictures</string>
	<key>PROJECT_ID</key>
	<string>matchingwordsandpictures</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingwordsandpictures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182753575099:ios:9cc8582d5ef48c818a299e</string>
</dict>
</plist>